doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/menu.css')
  body
    block content
      a#id(href='/auth/signout') 로그아웃
      .box
        .plus-box
          img.plus-img(src="../images/plus.png")
          img.plus-txt(src="../images/Group.png")
