doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/shop.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
  body
    block content
      .box
        img.header(src="../images/logo2.png")
        .menu
        
          .hello
            .hi
            .hi
            .hi
            .hi
            .hi
            .hi
            .hi
            .hi

        .cart
          .cartbtn cart
          .total
            p.p 주문 금액 :
            p.color 17000
          
        .btn
          a(href="/") 
            button.cb.cancel 취소
          button.cb.cash 결제
